<div class="container">
  <h1><%= @list.name %></h1>
</div>

<div class="container display-flex-inline justify-content-flex-start">
    <% @list.movies.each do |movie| %>
      <div class="card display-flex">
          <p class="d-flex justify-content-center"><%= movie.title %></p>
          <p class="d-flex justify-content-center"><%= movie.rating %></p>
          <p class="d-flex justify-content-center"><%= movie.overview %></p>
          <div class="d-flex justify-content-center"><%= image_tag movie.poster_url, width: 150 %></div>
        </div>
      </div>
      <% end %>
</div>



<%= link_to "Back to list", lists_path %>
<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
